<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<!-- CSS overrides - remove if you don't need it -->
  <link rel="stylesheet" href="css/app.css">
  <style>
  [v-cloak]{
    display: none;  
  }
  </style>
</head>

<body>
	<section class="todoapp">
		<header class="header">
			<h1>todos</h1>
			<input class="new-todo"
      @keyup.enter.trim = 'addTodo' placeholder="What needs to be done?" v-myfocus>
		</header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <template v-if="todoList.length>0" >
      	<section class="main">
            <input id="toggle-all" @click="toggleAll"  class="toggle-all"  type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
              <!-- These are here just to show the structure of the list items -->
              <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
              <li v-cloak :class="{completed:item.checkState,editing:item===editObj}"
               v-for="(item, index) in newTodoList" :key="item.id">
                <div class="view">
                  <input class="toggle" type="checkbox" v-model='item.checkState' checked>
                  <label @dblclick="editObj = item">{{item.name}}</label>
                  <button class="destroy" @click="deleteTodo(index)"></button>
                </div>
                <input class="edit" v-model='item.name' @blur='editObj=null' @keyup.enter="editObj = null">
              </li>
            </ul>
          </section>
    </template>
		<!-- This footer should hidden by default and shown when there are todos -->
		<footer class="footer">
			<!-- This should be `0 items left` by default -->
			<span class="todo-count"><strong>{{this.todoList.length}}</strong>item left</span>
			<!-- Remove this if you don't implement routing -->
			<ul class="filters">
				<li>
					<a :class="{selected:isSelected==='all'}" @click.prevent="juadeState('all')" href="#/">All</a>
				</li>
				<li>
					<a :class="{selected:isSelected==='active'}" @click.prevent="juadeState('active')" href="#/active">Active</a>
				</li>
				<li>
					<a :class="{selected:isSelected==='completed'}" @click.prevent="juadeState('completed')" href="#/completed">Completed</a>
				</li>
			</ul>
			<!-- Hidden if no completed items are left ↓ -->
			<button class="clear-completed" @click='clearAll'>Clear completed</button>
		</footer>
	</section>
	<footer class="info">
		<p>Double-click to edit a todo</p>
		<!-- Remove the below line ↓ -->
		<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
		<!-- Change this out with your name and url ↓ -->
		<p>Created by <a href="http://todomvc.com">you</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
	<!-- Scripts here. Don't remove ↓ -->
	
	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="node_modules/todomvc-common/base.js"></script>
	<script src="js2/app.js"></script>
</body>

</html>
